<!-- <h3>Employee Details</h3> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>Employee Id : </b></label> {{employee.employeeId}}
  </div>
  <div>
    <label><b>Employee First Name : </b></label> {{employee.employeeFirstName}}
  </div>
  <div>
    <label><b>Employee Last Name : </b></label> {{employee.employeeLastName}}
  </div>
  <div>
    <label><b>Employee Designation : </b></label> {{employee.employeeDesignation}}
    </div>
      <label><b>Employee Salary : </b></label> {{employee.employeeSalary}}
    </div> 
    
<div>
<p></p>
<button (click)="employeeList()" class="btn btn-primary">Back To Employee List</button>
</div>
 -->
<h3 style="text-align: center">Employee Details</h3><br>
 <ul class="list-group" class="container col-sm-6 col-lg-6 col-mg-6">
  <li class="list-group-item"><label>Employee Id : </label> {{employee.employeeId}}</li>
  <li class="list-group-item"><label>Employee First Name : </label> {{employee.employeeFirstName}}</li>
  <li class="list-group-item"><label>Employee Last Name : </label> {{employee.employeeLastName}}</li>
  <li class="list-group-item"><label>Employee Designation : </label> {{employee.employeeDesignation}}</li>
  <li class="list-group-item"><label>Employee Salary : </label> {{employee.employeeSalary}}</li>
</ul>
